<section class="d-flex align-items-center justify-content-center">
  <div class="card-deck">
    <div class="card grow">
      <img class="card-img-top rounded-circle" src="../../assets/images/veg-food.jpg" alt="image 1">
      <div class="card-body">
        <p class="card-text"><i class="fa fa-leaf mr-2"></i>Veg</p>
      </div>
    </div>
    <div class="card grow">
      <img class="card-img-top rounded-circle" src="../../assets/images/non-veg-food.jpg" alt="image 2">
      <div class="card-body">
        <p class="card-text"><i class="fa fa-turkish-lira mr-2"></i>Non-Veg</p>
      </div>
    </div>
    <div class="card grow">
      <img class="card-img-top rounded-circle" src="../../assets/images/breakfast-food.jpg" alt="image 3">
      <div class="card-body">
        <p class="card-text"><i class="fa fa-lemon-o mr-2"></i>Breakfast</p>
      </div>
    </div>
    <div class="card grow">
      <img class="card-img-top rounded-circle" src="../../assets/images/snacks-food.jpg" alt="image 4">
      <div class="card-body">
        <p class="card-text"><i class="fa fa-coffee mr-2"></i>Snacks</p>
      </div>
    </div>
  </div>
</section>
