<section>
  <div class="container">
    <div class="filter-section mb-5">
      <div class="d-inline-block">
        <button class="btn btn-warning action-button btn-lg mr-5 filter-button">
          <span class="text-white text-uppercase">
            <i class="fa fa-filter f-25"></i>
            Filter
          </span>
        </button>
      </div>
      <div class="d-inline-block">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Popularity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Distance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ratings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Price</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-deck flex-column">
      <div class="card flex-row col-sm-9 align-items-start">
        <img class="card-img-top w-25" src="assets/images/veg-food.jpg" alt="image 1">
        <div class="card-body w-75">
          <div class="card-title mb-0">Fresh Menu</div>
          <small class="card-text">Salads, Rolls, Veggies</small>
          <div class="utilities mt-3">
            <span class="mr-2"><i class="fa fa-rupee"></i></span>
            <span class="rating mr-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </span>
            <span class="price">(1231)</span>
          </div>
        </div>
        <span class="i-angle-bracket"><i class="fa fa-angle-right fa-2x"></i></span>
      </div>
      <div class="card flex-row col-sm-9 align-items-start">
        <img class="card-img-top w-25" src="assets/images/non-veg-food.jpg" alt="image 1">
        <div class="card-body w-75">
          <div class="card-title mb-0">Biriyani House</div>
          <small class="card-text">Turkish, Arabian, Naati</small>
          <div class="utilities mt-3">
            <span class="mr-2"><i class="fa fa-rupee"></i></span>
            <span class="rating mr-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="price">(2367)</span>
          </div>
        </div>
        <span class="i-angle-bracket"><i class="fa fa-angle-right fa-2x"></i></span>
      </div>
      <div class="card flex-row col-sm-9 align-items-start">
        <img class="card-img-top w-25" src="assets/images/breakfast-food.jpg" alt="image 1">
        <div class="card-body w-75">
          <div class="card-title mb-0">Egg Factory</div>
          <small class="card-text">Egg Soups, Rice/Egg bowls, Egg Masala plates</small>
          <div class="utilities mt-3">
            <span class="mr-2"><i class="fa fa-rupee"></i></span>
            <span class="rating mr-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </span>
            <span class="price">(4567)</span>
          </div>
        </div>
        <span class="i-angle-bracket"><i class="fa fa-angle-right fa-2x"></i></span>
      </div>
      <div class="card flex-row col-sm-9 align-items-start">
        <img class="card-img-top w-25" src="assets/images/snacks-food.jpg" alt="image 1">
        <div class="card-body w-75">
          <div class="card-title mb-0">Healthy House</div>
          <small class="card-text">English breakfast, Veggy noodles, Fruit bowl</small>
          <div class="utilities mt-3">
            <span class="mr-2"><i class="fa fa-rupee"></i></span>
            <span class="rating mr-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="price">(500)</span>
          </div>
        </div>
        <span class="i-angle-bracket"><i class="fa fa-angle-right fa-2x"></i></span>
      </div>
    </div>
  </div>
</section>
