<div class="container-fluid p-0">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light col-sm-12">
    <div class="d-flex flex-column w-100">
      <div class="d-flex justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hotels" routerLinkActive="active">Hotels</a>
          </li>
        </ul>
        <div class="d-flex justify-content-end ml-auto">
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-dark action-button btn-lg mr-2" type="submit"><span class="f-16 text-monospace">Login</span></button>
            <button class="btn btn-light action-button login-button btn-lg" type="submit"><span class="f-16 text-monospace">Sign Up</span></button>
          </form>
        </div>
      </div>
      <div>
        <a class="navbar-light banner-text">
          <span class="f-cursive mr-2 font-italic">Carolina's</span>
          <span>Restaurant</span>
        </a>
        <h4 class="headline text-center">The Best food will be delivered to your door steps</h4>
      </div>
      <div class="row global-search ml-auto mr-auto" id="global-search">
        <label for="global-search">Bangalore</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-warning action-button btn-lg mr-2" type="submit"><span class="f-16 text-white text-uppercase">Search</span></button>
      </div>
    </div>
  </nav>
</div>
